## Week2 Python Programming

In week2, we've covered:
* Creating **variables** 
* Different **data types**:
    * int
    * float
    * boolean
    * string
* Import **standard library**:
    * math
    
    
* **Data structures**:
    * List
    * Tuples
    * Dictionary
* **Function**:
    * Define function without parameter
        * **def** func():
    * Define function with parameter
        * **def** func(param):
* **Control flow**:
    * if, elif, else
    * for
    * while
* **DataFrame**:
    * Exploring a dataset

The best way to consolidate the knowledge in your mind is by practicing.<br>Please complete the part marked with <span style="color:green">**# TODO**</span>.

[Google](https://google.com) and [Python Documentation](https://docs.python.org/3/contents.html) are your good friends if you have any python questions.

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter. 

By convention, variable names start with a lower-case letter, and Class names start with a capital letter. 

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

## Assignment


The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assign an `int` to a variable with name `x` and print its type.

In [3]:
# TODO
x = 1
int(x) #assigning an integer type
print(type(x))

<class 'int'>

Assign a new value with `string` type to the same variable `x` and print its type.

In [4]:
# TODO
x = 'Accelerator'
print(type(x))

<class 'str'>

Print the value of a variable that has not been defined, see what error do you get:

In [5]:
# TODO
print(type(y))

NameError: ignored

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

Print the sum, difference, multiplication, and division between `1` and `2`.

In [ ]:
# TODO  
1+2 #Addition
2-1 #Subtraction
1*2 #Multiplication
2/1 #Division

Carry out Integer division of two float numbers.

In [8]:
# TODO 
x=6
y=2 
float(x)
float(y)
x//y

3

What is the value of `2` Power `15`?

In [9]:
# TODO
2**15

32768

Are the types of `1+2` and `1.0+2` the same?

In [11]:
# TODO
1+2 == int(1.0)+2

True

* The boolean operators are spelled out as the words `and`, `not`, `or`.

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

Compare two boolean `True` and `False`

In [21]:
# TODO
True > False

False < True

True

Use `False` to get `True`

In [23]:
# TODO
not False

True

Include both `False` and `True` in your code to get `True`

In [24]:
# TODO
False or True

True

Use two different ways: `==` and `is` to check if `l1` and `l2` is identical.

In [26]:
# TODO
l1 = [1, 2]
l2 = [1, 2.0]

l1 == l2

True

In [28]:
# TODO
l1 = [1, 2]
l2 = [1, 2.0]

l1 is l2

False

## Strings

Strings are the variables type that is used for storing text messages.

Create three string variables, and use one `print` to display all three variables.

In [49]:
# TODO
'hello' 
'data'
'accelerator'
print('hello', 'data', 'accelerator')

hello data accelerator

Check the length of "Hello world!".

In [50]:
# TODO
len('Hello world!')

12

Get the index `0`character in a string.

In [51]:
# TODO
'Hello world!'[0]

'H'

Get the first 3 characters in a string.

In [52]:
# TODO
'Hello world!'[0:3]

'Hel'

Use a start index and a stop index to get the fifth character in a string.

In [43]:
# TODO
s = "Red Ventures"

Get the last character in a string.

In [53]:
# TODO
s = "Charlotte"
s[-1]

'e'

#### Escape characters
In Python strings, the backslash "\\" is a special character, also called the **"escape"** character. It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a newline, and "\r" is a carriage return. Conversely, prefixing a special character with "\" turns it into an ordinary character.

Print out the following strings:
<pre>
'    Everything is written in pencil.'

'Everything is written
 in pencil.'
 
'Everything \ is written \ in pencil.'

'Red Ventures brands, just list a few:
   * Bankrate
   * Reviews.com
   * the Points Guy
   * creditcards.com'
</pre>

In [24]:
# TODO
print(' \t Everything is written in pencil.')

print('Everything is written \n in pencil.')
 
print('Everything \ is written \ in pencil.')

print('Red Ventures brands, just list a few: \n \t * Bankrate \n \t * Reviews.com \n \t * the Points Guy \n \t * creditcards.com')

 	 Everything is written in pencil.
Everything is written
 in pencil.
Everything \ is written \ in pencil.
Red Ventures brands, just list a few:
 	 * Bankrate
 	 * Reviews.com
 	 * the Points Guy
 	 * creditcards.com

#### String methods
Here are some of the most common string methods. A method is like a function, but it runs "on" an object. If the variable s is a string, then the code s.lower() runs the lower() method on that string object and returns the result (this idea of a method running on an object is one of the basic ideas that make up Object Oriented Programming, OOP). Here are some of the most common string methods:

lower(), upper(), strip(), isdigit(), startswith(), endswith(), find(), replace(), split(), join()

[Documentation](https://docs.python.org/3/library/stdtypes.html#string-methods)

Convert all letters to lower cases.

In [66]:
# TODO
s = 'RED FISH'
print(s.lower())

red fish

Check if string starts with `r`

In [75]:
# TODO
s = 'Run Up Escalators'
s.startswith('r')

False

Find the index of the single quote.

In [71]:
# TODO
s = "You don't have to lie."
s.find("'")

7

## Type casting
The process of converting the value of one data type to another is called type casting or type conversion.

Cast variable `z` to `int` and print its type.

In [72]:
# TODO
z = 1 
int(z)
print(type(z))

<class 'int'>

Are the types of 1 + 2 and 1.0 + 2 the same?

In [73]:
# TODO
1+2 == 1.0+2

True

Add num_int and num_str, you should provide two outputs. One is a string and the other is an int.

In [78]:
# TODO
num_int = 123
num_str = "456"

num_int + int(num_str)

579

In [79]:
# TODO
num_int = 123
num_str = "456"

str(num_int) + num_str

'123456'

What happens if you cast `-1` to a boolean?

In [80]:
# TODO
bool(-1)

True

## Standard Library
Python’s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. 

For example, the `math` module gives access to the underlying C library functions for floating point math.

[Documentation](https://docs.python.org/3/library/math.html)
<br>
<br>

Import math module and calculate $e^4$.

In [82]:
# TODO
import math 

math.exp(4)

54.598150033144236

Calculate the value of $log_2(8)$.

In [83]:
# TODO
math.log(2,8)

0.33333333333333337

Calculate the value of $\sqrt{100}$.

In [84]:
# TODO
math.sqrt(100)

10.0

## List
[List Documentation](https://www.w3schools.com/python/python_lists.asp)

### 1. Fill the ___ parts of code below

In [8]:
# TODO
# Let's create an empty list
my_list = []


# Let's add some values
my_list.append('Python')
my_list.append('is ok')
my_list.append('sometimes')

# Let's remove 'sometimes'
my_list.remove('sometimes')

# Let's change the second item
my_list[1] = 'is neat'

In [9]:
# Let's verify that it's correct
assert my_list == ['Python', 'is neat']

### 2. Create a new list without modifying the original one

In [34]:
original = ['I', 'am', 'learning', 'hacking', 'in']

In [35]:
# TODO
duplicate = original
duplicate.append('Python')
duplicate[3] = 'lists'
print(duplicate)

['I', 'am', 'learning', 'lists', 'in', 'Python']

In [36]:
assert original == ['I', 'am', 'learning', 'hacking', 'in']
assert duplicate == ['I', 'am', 'learning', 'lists', 'in', 'Python']

AssertionError: ignored

### 3. Create a merged sorted list

In [13]:
list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]
list3 = [0.9]

In [18]:
# TODO
my_list = list1+list2+list3
my_list.sort(reverse=True)

In [19]:
print(my_list)
assert my_list == [14, 12, 6.2, 6, 5, 1, 0.9, 0]

[14, 12, 6.2, 6, 5, 1, 0.9, 0]

### 4. Loop through a list  
[For Loops Documentation](https://www.w3schools.com/python/python_for_loops.asp)  
[While Loops Documentation](https://www.w3schools.com/python/python_while_loops.asp)

Loop through a list and check:
* If an item is a float, cast the float to int.
* If an item is an int, cast the int to float
* Hint: use isinstance()

In [20]:
loop_list1 = [1101, 704.971, 'Fort Mill']
# TODO 
# use for loop
loop_list1 = [1101, 704.971, 'Fort Mill']
for x in loop_list1:
  if x = int then float
  elif x = float then int
    break
  print(x)

SyntaxError: ignored

In [86]:
print(loop_list1)
assert loop_list1 == [1101.0, 704, 'Fort Mill']

[1101, 704.971, 'Fort Mill']

AssertionError: ignored

In [ ]:
loop_list2 = [1101, 704.971, 'Fort Mill']
# TODO
# use while loop

In [ ]:
print(loop_list2)
assert loop_list2 == [1101.0, 704, 'Fort Mill']

## Tuples
[Tuples Documentation](https://www.w3schools.com/python/python_tuples.asp)

### 1. Fill the ___ parts of code below

In [38]:
# TODO
# create a tuple with items of different data types
my_tuple = (1, 1.01, 'Red Ventures')
print(my_tuple, type(my_tuple))

# Unpack my_tuple in several variables
(whole, decimal, work) = my_tuple
print(whole)
print(decimal)
print(work)

# convert my_tuple to list and assign to variable my_list
my_list = list(my_tuple)
print(my_list, type(my_list))

# convert my_list to tuple and assign to variable my_new_tuple
my_list.append('Fort Mill')
my_new_tuple = tuple(my_list)
print(my_new_tuple, type(my_new_tuple))

(1, 1.01, 'Red Ventures') <class 'tuple'>
1
1.01
Red Ventures
[1, 1.01, 'Red Ventures'] <class 'list'>
(1, 1.01, 'Red Ventures', 'Fort Mill') <class 'tuple'>

### 2. Check the immutable property of tuple

In [43]:
# TODO
rv_tuple = 1101, 'Red', 'Ventures', 'Drive'
print(rv_tuple, type(rv_tuple))

# check id
print(id(rv_tuple))

# modify the variable
rv_tuple = rv_tuple + (29707, )
print(rv_tuple, type(rv_tuple))

# check id
print(id(rv_tuple))

# TODO
# Do the same exercises as above for a list and see the difference
# Remember list is mutable

# TODO
rv_list = ['Red', 'Ventures', 'Drive']
print(rv_list, type(rv_list))

# check id
print(id(rv_list))

# modify the variable
rv_list.append('North Carolina')
print(rv_list, type(rv_list))

# check id
print(id(rv_list))

(1101, 'Red', 'Ventures', 'Drive') <class 'tuple'>
140508517059088
(1101, 'Red', 'Ventures', 'Drive', 29707) <class 'tuple'>
140508517171280
['Red', 'Ventures', 'Drive'] <class 'list'>
140508517131680
['Red', 'Ventures', 'Drive', 'North Carolina'] <class 'list'>
140508517131680

### 3. Define Functions  

[Functions Documentation](https://www.w3schools.com/python/python_functions.asp)

Write a function that accepts a string and return the number of uppercase letters and lowercase letters.

In [ ]:
# TODO
def check_case():
  for x in 'Fort Mill':
    if x == int then float
    elif x = float then int
      break
    print(x)
      return uppercase_number, lowercase_number

In [ ]:
my_string = "This is Week3 Python Programming Homework."
assert check_case(my_string)[0] == 5
assert check_case(my_string)[1] == 30

## Dictionary
[Dictionary Documentation](https://www.w3schools.com/python/python_dictionaries.asp)

### 1. Fill the ___ parts of code below

In [45]:
# TODO
# create an empty dictionary
my_dict = {}
print(my_dict, type(my_dict))

# create a dictionary with values
my_dict = {
    "Volkswagen",
    "Taos",
    "Grey",
    2022
}
print(my_dict, type(my_dict))

# add key/value to my_dict
my_dict = {
    "Brand" : "Volkswagen",
    "Model" : "Taos",
    "Color" : "Grey",
    "Year" : 2022
}

my_dict["Item"] = "Car"
print(my_dict)

# remove the key you added from my_dict
my_dict.pop("Item")
print(my_dict)

{} <class 'dict'>
{2022, 'Grey', 'Volkswagen', 'Taos'} <class 'set'>
{'Brand': 'Volkswagen', 'Model': 'Taos', 'Color': 'Grey', 'Year': 2022, 'Item': 'Car'}
{'Brand': 'Volkswagen', 'Model': 'Taos', 'Color': 'Grey', 'Year': 2022}

### 2. Sort Dictionary

Print out key/value pair by the ascending order of keys.

In [49]:
# TODO
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
print(sorted(location_dict.items(), key =
             lambda kv:(kv[1], kv[0])))

[('Los Angeles', 'CA'), ('Charlotte', 'NC'), ('New York', 'NY'), ('Austin', 'TX')]

Display the location_dict by the descending order of values.

In [52]:
# TODO
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
print(sorted(location_dict.items(), reverse=True, key =
             lambda kv:(kv[-1], kv[0])))

[('Austin', 'TX'), ('New York', 'NY'), ('Charlotte', 'NC'), ('Los Angeles', 'CA')]

## Set

Though `set` is not covered in the video materials, it is also one of the major data structures in Python.

[Set Documentation](https://www.w3schools.com/python/python_sets.asp)

### 1. Fill the ____ parts of code below

In [ ]:
# TODO
# create an set
my_set = ____
print(my_set, type(my_set), '\n')

# create a set with values
my_set = ____
print(my_set, type(my_set), '\n')

# add a new value to my_set
# the value should be a different
my_set.___
print(my_set, '\n')


# remove the value you added from my_set
my_set.____
print(my_set, '\n')

### 2. Set Manipulation

Use a list  with duplicated values and a tuple to create two sets respectively, and get a union set between those two.

In [ ]:
# TODO

Create two sets `my_set1` and `my_set2`, and get values in `my_set1` but not in `my_set2`.

In [ ]:
# TODO

## DataFrames

[Dataframe Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

In [5]:
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

# Download the CSV from the above url.
# This csv is separated by a ';' so we need to add that as a parameter to the read_csv method.
df = pd.read_csv(url, sep=';')

Show the first 6 rows of the `df` dataframe

In [6]:
# TODO
df6 = df.head(6)
print(df6)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5

[6 rows x 12 columns]

Print out the summary statistics for each dataframe column

In [7]:
# TODO
print(df.describe())

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

## Submission

Download completed **Week2_Python_Homework.ipynb** from Google Colab and commit to your personal Github repo you shared with the faculty.